<div class="col-md-4" style="margin-left: 500px">
<table class="table table">
    <tr>
      <td>Вантажопідйомність, кг</td>
      <td>{{ product.сarrying}}</td>
    </tr>
    <tr>
      <td>Висота підйому мачти, мм</td>
      <td>{{ product.mast_lifting_height}}</td>
    </tr>
    <tr>
      <td>Довжина вил, мм</td>
      <td>{{ product.length_of_forks}}</td>
    </tr>
    <tr>
      <td>Тип двигуна</td>
      <td>{{ product.engine_type}}</td>
    </tr>
    <tr>
      <td>Стан</td>
      <td>{{ product.state}}</td>
    </tr>
    <tr>
      <td>Вага</td>
      <td>{{ product.weight}}</td>
    </tr>
  </tbody>
</table>
</div>
</body>
</html>


